* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

.title {
	text-align: center;
}

h1 {
	margin-top: 20px;
	text-align: center;
}

li {
	margin: 2%;
	width: 29%;
	height: 350px;
	background-color: black;
	float: left;
	text-align: center;
	padding-top: 20px;
	position: relative;
	color: white;
}

img {
	display: block;
	width: 90%;
	height: 85%;
	margin: auto;
	margin-bottom: 5px;
	object-fit: cover;
}

li:hover button {
	opacity: 1;
}

button {
	color: white;
	font-size: 20px;
	padding-top: -2px;
	width: 36px;
	height: 36px;
	background-color: red;
	border-radius: 50%;
	top: -10px;
	right: -10px;
	opacity: 1;
	position: absolute;
	border: none;
}

.big-box {
	position: fixed;
   	z-index: 1;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: black;
    opacity: 1;
    color: white;
}

.big-box-image {
	display: block;
	width: 90%;
	height: 90%;
	margin: 5%;
	object-fit: cover;
	text-align: center;
}

li:hover .big-box {
	display: block;
	opacity: 1;
}